<% provide(:title, "Contact") %>
<link rel="stylesheet" href="contact.css">
<!DOCTYPE html>
<html>
	<head>
		<title>Contact Page</title>
	</head>
	<body>
			<h1><span class="h_font">Contact Page</span></h1>
		<br>
		<p>
			<span class="c_font">Jack Jiang</span></p>
		<p>Contact Email: zfjiang@sfu.ca</p>
			<br>

			<p>
			<span class="c_font">Amos li</span></p>
			<p>Contact Email: Amosl@sfu.ca</p>
			<br>

			<p>
			<span class="c_font">Ying Zhen Zhang</span></p>
			<p>Contact Email: yzzhang@sfu.ca</p>
			<br>
			<p>
			<span class="c_font">Kelvin Leung</span></p>
			<p>Contact Email: yatchunl@sfu.ca</p>
	</body>
</html>

