<% provide(:title, "FAQ") %>
<!DOCTYPE html>
<html>
<head>
	<title>FAQ page</title>
</head>
<body>

		<h1><span class="h_font">Essential knowledge for Beginners</span></h1>

	<br>
	<h3>What is a Cryptocurrency?</h3>
	<br>
		<p>Cryptocurrencies are distributed digital currencies, much like a form of digital cash. They allow for seamless, direct, and extremely fast transactions between parties. You have full control over your payments and balance, and can spend and earn with ease and transparency.</p>
	<br>
	<h3>How Do Cryptocurrencies Work?</h3>
	<br>
		<p>Cryptocurrencies were developed as an application on top a cryptographic invention known as blockchain, hence the name cryptocurrency. Blockchain is a technology that will support multiple technologies – cryptocurrency is just one of them. But importantly cryptocurrencies, as we have them today, would not be possible without the blockchain technology. So, what is blockchain?</p>
	<br>
	<h3>Blockchain</h3>
	<br>
		<p>A block is a complex mathematical problem based on a cryptographic technology (called a “hash”) which computers aim to solve. Once the mathematical problem is solved, the block is ‘complete’. The important property of a block is that if you change any information inside of it – like transaction data – becomes invalid, or broken. The only way to fix it is to replace the incorrect data with the correct, original, data.</p>
		<br>
		<p>When a new block is created, it takes data from the previous block, creating a link – hence the term blockchain. In a blockchain, if any data in any block is altered, the entire blockchain from that point onwards is broken. You can think of it like a tower of wooden blocks, if you break one block in the middle of the tower, all the blocks above it topple over. The only way to ‘fix’ the tower is by correcting the data that was tampered with. In fact, blockchains are often measured in terms of ‘height’ which is the total number of blocks in the tower. So, the older the data is, the more secure it becomes. Generally, a block will be considered ‘valid’ once enough additional blocks are added to the chain in order to ensure security. In cryptocurrencies, the blockchain is used to store an immutable transaction ledger for the currency.</p>
		<br>
	<h3>Mining</h3>
	<br>
		<p>People called miners solve these mathematical problems. They are responsible for bundling together transactions and then solving the mathematical puzzle. Mining can be very computationally difficult and thus requires powerful computers to solve these puzzles. The computers cost money and importantly require electricity to run. In order to incentivize people to mine, they are given a prize for their work – either in new coins, transaction fees, both, or otherwise.</p>
	<br>
	<h3>Is it Secure?</h3>
	<br>
		<p>On a personal level, each wallet is secured by a private key to which only the owner has access. Your wallet also has an address that is used to place transactions from wallet to another. In order to place a transaction, you must digitally sign it with your private key to prove that the owner is authorizing the transaction. </p>
	<br>
	<br>
		<h4>More about other types of cryptocurrancy:</h4>
			<a href="https://cryptominded.com/starters-guide-cryptocurrencies/"><b><span class="fp_font">A Starter's Guide to Cryptocurrencies</span></b></a>
</body>
</html>
