<% provide(:title, "Features") %>
<!DOCTYPE html>
<html>
	<head>
		<title>Features page</title>
	</head>
	<body>
		<!--<div id="h_border">-->
			<h1><span class="h_font">Features Page</span></h1>
		<!--</div>-->
		<br>
		<h3>Our page provide foundamental knowledge to all type of users</h3>
		<br>
		<h4>Below are the four Top Cryptocurrencies:</h4>
		<br>
		<!--<div id="fp_border_b">-->
			<ol>
				<li><h3><strong>Bitcoin</strong></h3>
					<ul>
						<br>
						Bitcoin (BTC) is the original cryptocurrency, it is the market leader due to its established reputation worldwide, its security and the huge community base powering it. It holds significant value and has received media attention around the world. Retailers such as Overstock.com accept payments and Bitcoin, and Amazon allows consumers to purchase gift cards with the cryptocurrency. Currently, Bitcoin is the most valuable cryptocurrency and is valued at $96 billion, or about 57% of the market.

						<br>
					</ul>
				</li>
				<li><h3><strong>Ethereum</strong></h3>
					<ul>
						<br>
						While Bitcoin was designed as a digital currency cash system, Ethereum (ETH) is designed to help companies deploy applications on the distributed blockchain. The underlying currency, called Ether, acts as the fuel that powers these applications. Ethereum is often referred to as a ‘Swiss Army knife’ and supports numerous use cases which can range from ticket sales, escrow agents, online gaming betting, and more. Currently, Etherum is valued at $28 billion.

						<br>
					</ul>
				</li>
				<li><h3><strong>Ripple</strong></h3>
					<ul>
						<br>
						Ripple (XRP) is a digital asset targeted to allow financial institutions to make global payments more easily and more cheaply. To meet the demand of these institutions, their technology also focuses on transaction throughput and already can handle about 200 times more transactions per second than Bitcoin can. They already boast a strong list of customers which includes RBC, UBS, Santander, CIBC, and more than a dozen other banks, exchanges, and payment providers. Ripple is currently valued at $7.8 billion.

						<br>
					</ul>
				</li>
				<li><h3><strong>Litecoin</strong></h3>
					<ul>
					<br>
						Litecoin (LTC) was released in 2012 as a ‘lite’ version of Bitcoin, built using much of the original Bitcoin code base. Its primary advantages are that it supports much faster payments and far more transaction throughput than Bitcoin, capable of handling global payments in less than one second. Litecoin is sometimes referred to as the ‘test bed’ for Bitcoin because it is known to adopt and implement technological advancements much quicker and more smoothly than Bitcoin. It is currently worth $2.9 billion.

						<br>
					</ul>
				</li>
			</ol>
			<br>
			<br>
		<h4>More about other types of cryptocurrancy:</h4>
			<a href="https://cryptominded.com/starters-guide-cryptocurrencies/"><b><span class="fp_font">A Starter's Guide to Cryptocurrencies</span></b></a>
	</body>
</html>
