// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    font-family: arial, sans-serif;
   
    width: 100%;
    border-radius:10px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 25px;
    border: 4px solid #dddddd;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}

